aiofiles
aiohttp
dnspython==2.3.0
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
pymongo==4.6.2
ntgcalls==1.1.2
pillow==9.5.0 
psutil
py-tgcalls==1.2.9
pykeyboard
git+https://github.com/SHIVANIxBOTZ/pyrogram.git@dev
python-dotenv
PyYAML
requests
wget
speedtest-cli
spotipy
tgcrypto
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
yt-dlp==2023.10.13
numpy
git+https://github.com/AsmSafone/SafoneAPI
telegraph
pyfiglet
opencv-python==4.9.0.80
search_engine_parser
unidecode
gpytranslate
apscheduler
nekos.py==1.1.0
emojis
motor==3.4.0
